<!DOCTYPE html>
<html lang="en" ng-app="AFormApp">
	<head>
		<meta charset="UTF-8">
		<title></title>

		<script src="/libs/angular/angular.js"></script>
		<script src="/aform.js"></script>
	</head>
	<body ng-controller="AFormCtrl as aFormCtrl">

		<h1>Registration</h1>

		<form name="regForm" novalidate ng-submit="aFormCtrl.register()">

			Name:
			<input id="name" type="text" name="name" required ng-model="aFormCtrl.name">
			<br>

			Email:
			<input id="email" type="email" name="email" required ng-model="aFormCtrl.email">
			<br>

			<button type="submit" ng-disabled="regForm.$invalid">
				Register
			</button>
			

		</form>
		
	</body>
</html>
