<!DOCTYPE html>
<html lang="en" ng-app="CartApp">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="/libs/angular/angular.js"></script>
		<script src="/index.js"></script>
	</head>
	<body ng-controller="CartCtrl as cartCtrl">

		<h1>Shopping Cart</h1>

		<form name="cartForm" novalidate ng-submit="cartCtrl.addToCart()">
			Item:
			<input id="name" type="text" name="item"
					ng-model="cartCtrl.item" required>
			<button type="submit" ng-disabled="cartForm.$invalid">
				Add
			</button>
			<button type="button" ng-click="cartCtrl.loadFromCart()">
				Load
			</button>
		</form>

		<h3>Contents</h3>
		<div ng-repeat="c in cartCtrl.content">
			{{ c }}
		</div>

		<button type="button" ng-click="cartCtrl.checkout()" ng-disabled="cartCtrl.content.length <= 0">
			Checkout
		</button>
		
	</body>
</html>
