<div class="row">
	<div class="col-md-12">
		<h2>Books</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="list-group" ng-repeat="category in overviewCtrl.categories">
			<h2>{{ category.display_name }}</h2>
			<a class="list-group-item"
	  				ng-click="overviewCtrl.review(book.primary_isbn13)"
					ng-repeat="book in category.books">
				<div class="row">
					<div class="col-md-2">
						<img ng-src="{{ book.book_image }}" width="64px">
					</div>
					<div class="col-md-10">
						<h4 class="list-group-item-heading">
							{{ book.title }} by {{ book.author }}
						</h4>
						<p class="list-group-item-text" ng-if="book.description">
							{{ book.description }}
						</p>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
