<div class="row">
	<div class="col-md-offset-4 col-md-4">
		<form name="queryForm" novalidate ng-submit="mainCtrl.search()">

			<div class="form-group">

				<label for="custName">Customer Name:</label>

				<div class="input-group">

					<input id="custName" class="form-control" type="text" 
							name="custName" ng-model="mainCtrl.customerName"
							required>

					<span class="input-group-btn">
						<button class="btn btn-success" type="submit"
								ng-disabled="queryForm.$invalid">
							Search
						</button>
					</span>

				</div>
			</div>
		</form>
	</div>
</div>
