<!DOCTYPE html>
<html lang="en" ng-app="CustomerApp">
	<head>
		<meta charset="UTF-8">
		<title>Customer Query</title>
		<!-- load libs -->
		<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
		<script src="/libs/angular/angular.js"></script>

		<!-- app -->
		<script src="/index.js"></script>

	</head>
	<body ng-controller="CustomerCtrl as customerCtrl">

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Customer List</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="list-group">
						<a class="list-group-item" 
		 					ng-click="customerCtrl.getDetails(c.CUSTOMER_ID)"
							ng-repeat="c in customerCtrl.customers">
							{{ c.NAME }}
						</a>
					</div>
				</div>

				<div class="col-md-8">
					<form>
						<div class="form-group">
							<label for="name">Name</label>
							<input id="name" class="form-control" type="text" name="name"
									ng-model="customerCtrl.customer.NAME">
						</div>
						<div class="form-group">
							<label for="address">Address</label>
							<input id="address" class="form-control" type="text" name="address"
									ng-model="customerCtrl.customer.ADDRESSLINE1">
						</div>
						<div class="form-group">
							<label for="city">City</label>
							<input id="city" class="form-control" type="text" name="city"
									ng-model="customerCtrl.customer.CITY">
						</div>
					</form>

				</div>
			</div>
		</div>

	</body>
</html>
