<h2>Weather of {{ wDetails.city }}</h2>

<h4>
    <table>
        <tr ng-repeat="w in wDetails.weather">
            <td>
                <img ng-src="http://openweathermap.org/img/w/{{w.icon}}.png" alt="">
            </td>
            <td>
                <h4>{{ w.main }}</h4>
                <p>{{ w.description }}</p>
            </td>
        </tr>

    </table>
    <a ui-sref="cities">Back</a>
</h4>