<!DOCTYPE html>
<html lang="en" ng-app="IMDBApp">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="/bower_components/angular/angular.js"></script>
		<script src="/index.js"></script>
	</head>
	<body ng-controller="IMDBCtrl as imdbCtrl">

		<h1>My IMDB</h1>

		<form >
			Film Id:
			<input type="number" name="filmId" ng-model="imdbCtrl.filmId">
			<button type="submit" ng-click="imdbCtrl.search()">
				Search
			</button>
		</form>

		<table>
			<tr>
				<td>Title:</td>
				<td>{{ imdbCtrl.result.title }}</td>
			</tr>
			<tr>
				<td>Descripton:</td>
				<td>{{ imdbCtrl.result.description }}</td>
			</tr>
			<tr>
				<td>Special features:</td>
				<td>{{ imdbCtrl.result.special_features }}</td>
			</tr>
		</table>
		
	</body>
</html>
